@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Bold.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Inter-Regular.woff2') format('woff2'),
    url('/fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Lexend Deca';
  src: url('/fonts/Lexend_Deca/LexendDeca-Regular.woff2') format('woff2'),
    url('/fonts/Lexend_Deca/LexendDeca-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper{
  max-width: 1442px;
  min-height: 100vh;
  margin: 0 auto;
  border: 1px solid;

}